@import "libs/bootstrap-reboot";
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
@import "./base/variables";

* {
    font-family: "Merienda One", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 350px;
}

@import "./blocks/main";

// media
@import "./base/media";
